{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app_home/style.css' %}">
    <title>Mukesh_Portfolio</title>
</head>
<body>
    <div class="main-container">
        <div class="container">
            <div class="left -container">
                    <div class="profile-name"><h3>Mukesh Kumar</h3></div>
                    <div class="designation"><h4>Python Developer</h4></div>
                    <div class="short-desc">
                    <p>"I aim to join a company as a Python developer, where I can leverage my skills to significantly contribute to the company's success while also nurturing my personal and professional growth."</p>
                        
                    </div>
                    <div class="address">New Delhi, Delhi, india</div>
                    <div class="contact">
                    <div class="call"><a href="#">Call</a></div>
                    <div class="email"><a href="#">gmail</a></div>
                    <div class="whatsapp"><a href="#">Whatsapp</a>
                    <div class="Linkedin"><a href="#">Linkedin</a>
                    <div class="github"><a href="#">GitHub</a></div>
                        
                    </div>
                        
                    </div>
                    </div>
            </div>
            <div class="right -container">
                        <div class="profile-name"><h3>Mukesh Kumar</h3></div>
                        <div class="designation"><h4>Python Developer</h4></div>
                        <div class="short-desc">
                        <p>"I aim to join a company as a Python developer, where I can leverage my skills to significantly contribute to the company's success while also nurturing my personal and professional growth."</p>
                            
                        </div>
                        <div class="address">New Delhi, Delhi, india</div>
                        <div class="contact">
                        <div class="call"><a href="#">Call</a></div>
                        <div class="email"><a href="#">gmail</a></div>
                        <div class="whatsapp"><a href="#">Whatsapp</a>
                        <div class="Linkedin"><a href="#">Linkedin</a>
                        <div class="github"><a href="#">GitHub</a></div>
                            
                        </div>
                
              </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>